.container-fluid
  %h2 Dane osobowe
  = form_for(:team_group, url: create_team_group_path(@team)) do |f|
    - if @team_group.errors.any?
      #error_explanation
        %h2
          = pluralize(@team_group.errors.count, "error")
          prohibited this team_group from being saved:
        %ul
          - @team_group.errors.full_messages.each do |msg|
            %li= msg
    .col-md-5
      .form-inputs.form-horizontal
        .form-group.col-sm-12
          = f.label 'Nazwa', class: "col-sm-2 control-label"
          .col-sm-4
            = f.text_field :name, class: 'form-control'
    =f.hidden_field :team_id, value: @team.id
    .actions
      = f.submit 'Zapisz szóstkę'
