.container-fluid
  .col-md-5
  %h2 Dane osobowe
  = form_for(:user, url: create_scout_path(@team)) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .form-inputs.form-horizontal
      .form-group.col-sm-12
        = f.label :first_name, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :first_name, class: 'form-control'
      .form-group.col-sm-12
        = f.label :last_name, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :last_name, class: 'form-control'
      .form-group.col-sm-12
        = f.label :email, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :email, class: 'form-control'
      .form-group.col-sm-12
        = f.label :stars, class: "col-sm-2 control-label"
        .col-sm-4
          = f.number_field :stars, class: 'form-control'
      .form-group.col-sm-12
        = f.label :description, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_area :description, class: 'form-control'
      .form-group.col-sm-12
        = f.label :pesel, class: "col-sm-2 control-label"
        .col-sm-4
          = f.number_field :pesel, class: 'form-control'
      .form-group.col-sm-12
        = f.label :address_1, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :address_1, class: 'form-control'
      .form-group.col-sm-12
        = f.label :address_2, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :address_2, class: 'form-control'
      .form-group.col-sm-12
        = f.label :date_of_admission, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :date_of_admission, class: 'form-control datetimepicker'
      .form-group.col-sm-12
        = f.label :date_of_leave, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :date_of_leave, class: 'form-control datetimepicker'
      .form-group.col-sm-12
        = f.label :phone_number, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :phone_number, class: 'form-control'
      .form-group.col-sm-12
        = f.label :parent_1, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :parent_1, class: 'form-control'
      .form-group.col-sm-12
        = f.label :parent_2, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :parent_2, class: 'form-control'
      .form-group.col-sm-12
        = f.label :school, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :school, class: 'form-control'
      .form-group.col-sm-12
        = f.label :school_class, class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_field :school_class, class: 'form-control'
      .form-group.col-sm-12
        = f.label :parental_agreement, class: "col-sm-2 control-label"
        .col-sm-4
          = f.check_box :parental_agreement
      .form-group.col-sm-12
        = f.label :scouts_mark, class: "col-sm-2 control-label"
        .col-sm-4
          = f.check_box :scouts_mark
      .form-group.col-sm-12
        = f.label 'Informacje medyczne', class: "col-sm-2 control-label"
        .col-sm-4
          = f.text_area :medical_info, class: 'form-control'
      =f.hidden_field :team_id, value: @team.id
      .actions
        = f.submit 'Zapisz zucha'
