= form_for @meeting, url: create_meeting_path(@cycle) do |f|
  .form-inputs.form-horizontal
    .form-group.col-sm-12
      = f.label 'Nazwa zbiórki', class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_field :name, class: "form-control", required: true
    .form-group.col-sm-12
      = f.label 'Data początku', class: "col-sm-2 control-label"
      .col-sm-6
        = f.datetime_field :start_date, class: "form-control datetimepicker", required: true, id: 'datetimepicker'
    .form-group.col-sm-12
      = f.label 'Data końca', class: "col-sm-2 control-label"
      .col-sm-6
        = f.datetime_field :stop_date, class: "form-control datetimepicker", required: true, id: 'datetimepicker'
    .form-actions
      .form-group
        .col-sm-2.col-md-offset-3
          = f.submit 'Zapisz'
