.panel.panel-default
  .panel-heading
    %b Stwórz plan roczny

= form_for @year_plan do |f|
  .form-inputs.form-horizontal
    .form-group.col-sm-12
      = f.label 'Tytuł', class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_field :title, class: "form-control", required: true
    .form-group.col-sm-12.margin-left-md
      .col-sm-6
        -@badges.each do |badge|
          .col-sm-2
            = f.label "#{badge[0].name} (zdobywa: #{badge[1]})"
            = f.check_box :badge_ids, { :multiple => true, class: 'form-control' }, badge[0].id, nil
    .form-actions
      .form-group
        .col-sm-2.col-md-offset-3
          = f.submit 'Zapisz'
