.panel.panel-default
  .panel-heading
    %b Stwórz plan

= form_for @year_plan do |f|
  .form-inputs.form-horizontal
    .form-group.col-sm-12
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_field :title, class: "form-control", required: true
    .form-group.col-sm-12.margin-left-md
      = f.label :team_id, class: 'pull-left'
      .col-sm-6
        =select("year_plan", "team_id", @teams.all.collect {|t| [ t.name, t.id ] }, { include_blank: true, class: "pull-left" })
    .form-group.col-sm-12.margin-left-md
      .col-sm-6
        -@badges.each do |badge|
          .col-sm-2
            = f.label badge.name
            = f.check_box :badge_ids, { :multiple => true, class: 'form-control' }, badge.id, nil
    .form-actions
      .form-group
        .col-sm-2.col-md-offset-3
          = f.submit 'Zapisz'
