%h3
  Lista cykli w planie

= link_to 'Dodaj cykl', new_cycle_path(@year_plan), class: 'btn btn-primary'

%br
%br
%table#cycles_table{cellpadding: "0", cellspacing:"0", border: "0", class: "datatable table table-striped table-bordered"}
  %thead
    %tr
      %th Nazwa
      %th Gromada
      %th Data początku
      %th Data końca
      %th Akcje
  %tbody
    -@year_plan.cycles.each do |cycle|
      %tr{id: "j-#{cycle.id}"}
        %td=cycle.name
        %td=cycle.start_date
        %td=cycle.stop_date
        %td
          = link_to 'Pokaż spotkania', cycle_path(cycle), class: 'btn-sm btn-primary'
          = link_to 'Edytuj', edit_cycle_path(cycle), class: 'btn-sm btn-primary'
          = link_to 'Usuń', cycle_path(cycle), method: :delete, confirm: 'Na pewno? (Tej operacji nie można cofnąć!)', class: 'btn-sm btn-danger'
