.container-fluid
  %h2 Zuch #{@trial.user.full_name} próba na #{@trial.user.stars + 1} gwiazdkę
  .row
    .col-md-4
      %h2 
        Wymagania
      -@trial.rank.rank_requirements.each do |rr|
        .col-sm-2.col-xs-1{class: "bgn-#{rr.color}"}
        .col-sm-10
          =label_tag rr, rr.description, id: "rank_requirement_id_#{rr.id}"
          =form_for(rr, url: update_badges_path(rr)) do |f|
            =hidden_field :rank_requirement, :id, :value => rr.id
            =f.submit "Aktualizuj"
            - rr.badges.each do |badge|
              .form-group
                .col-sm-8
                  =f.label badge.name, class: "control-label", id: "label_#{badge.id}"
                .col-sm-3
                  =hidden_field_tag "rank_requirement[badge_ids][]", ''
                  =check_box("rank_requirement", "badge_ids", {:multiple => true, checked: true}, badge.id, nil)
    .col-md-8
      =form_for(@trial, url: update_trial_path(@trial), format: :json) do |f|
        =hidden_field :trial, :id, :value => @trial.id
        .col-md-5
          %h3 Zadania indywidualne
          %li.list-group-item
            = f.nested_fields_for :custom_tasks do |ff|
              = ff.label 'Nazwa'
              = ff.text_field :name, class: 'form-control'
              = ff.label 'Opis'
              = ff.text_field :description, class: 'form-control'
              = ff.remove_nested_fields_link 'Usuń zadanie'
          = f.add_nested_fields_link :custom_tasks, 'Dodaj zadanie indywidualne'
        .col-md-5
          %h3 Odznaki
          / =collection_check_boxes(:trial, :badge_ids, Badge.all, :id, :name)
          -@badges.each do |badge|
            .form-group
              .col-sm-8
                =f.label badge.name, class: "control-label", id: "label_#{badge.id}"
              .col-sm-3
                =check_box("rank_requirement", "badge_ids", {:multiple => true}, badge.id, nil)
                .col-xs-1.flt-rght{class: "bgn-#{badge.color}"}
        .col-md-2
          =f.submit 'Rozpocznij próbę', class: 'btn btn-success'

:javascript
  $(document).ready(function(){
    $("[id*='rank_requirement_id']").click(function(){
      $('.marked').parent().parent().children().appendTo($($(this).parent().children("[id*='edit_rank_requirement']")));
      $('.marked').removeClass('marked');
      if( $(this).parent().children("[id*='edit_rank_requirement']").length > 0 )
        {
          $(this).parent().children("[id*='edit_rank_requirement']").submit();
        }
    });

    $("[id*='rank_requirement_badge']").click(function(){
      if( $(this).hasClass('marked') ) {
        $(this).removeClass('marked');
      }
      else{
        $(this).addClass('marked');
      }
    });

  });
