
%h1
  -if request.path.include? 'archive'
    Archiwum
  -else
    Moje zuchy
.container-fluid
  -if @users.count > 0 && @users.first.archived?
    =link_to 'Aktywne zuchy', team_path(@team.id), class: 'btn btn-primary'
  -if @users.count == 0 || ( @users.count > 0 && !@users.first.archived? )
    =link_to 'Dodaj zucha', add_scout_path(@team.id), class: 'btn btn-primary'
    =link_to 'Archiwum zuchów', team_archive_path(@team.id), class: 'btn btn-primary'
  %table#users_table{cellpadding: "0", cellspacing:"0", border: "0", class: "datatable table table-striped table-bordered"}
    %thead
      %tr
        %th=link_to 'Imię i nazwisko', sort_by_path(@team.id, sort: 'first_name')
        %th=link_to 'Szóstka'
        %th=link_to 'Gwiazdki', sort_by_path(@team.id, sort: 'stars')
        %th=link_to 'Odznaki'
        %th=link_to 'Procentowe ukończenie próby'
        %th=link_to 'Szkoła', sort_by_path(@team.id, sort: 'school')
        %th=link_to 'Klasa', sort_by_path(@team.id, sort: 'school_class')
        %th=link_to 'Zgoda rodziców', sort_by_path(@team.id, sort: 'parental_agreement')
        %th=link_to 'Data odejścia', sort_by_path(@team.id, sort: 'date_of_leave')
        %th=link_to 'Powód odejścia', sort_by_path(@team.id, sort: 'leave_reason')
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr{id: "j-#{user.id}"}
          %td= user.full_name
          %th= user.team_group_name
          %td= user.stars
          %td= user.badges.count
          %td
            -unless user.trials.empty?
              -completion_percentage = user.trials.last.completion_percentage
              -color = 'blue'
              -if completion_percentage < 25
                -color = 'green'
              -elsif completion_percentage < 50
                -color = 'yellow'
              -elsif completion_percentage < 75
                -color = 'orange'
              -else
                -color = 'red'
              %strong{style: "color: #{color}"}=user.trials.last.completion_percentage
            -else
              -
          %td= user.school
          %td= user.school_class
          %td= user.parental_agreement
          %td= user.date_of_leave
          %td= user.leave_reason
          %td
            -if user.stars < 3 && user.scouts_mark
              -if user.has_incomplete_trials?
                =link_to 'Edytuj wymagania próby', edit_trial_path(user.trials.last.id)
                -if user.is_done_with_trial?
                  =link_to 'Zamknij próbę', finish_trial_path(user.trials.last.id)
                -else
                  =link_to 'Zarządzaj próbą', manage_trial_path(user.trials.last.id)
              -else
                =link_to 'Rozpocznij próbę na następną gwiazdkę', user_start_trial_path(user.id)
          %td
            =link_to 'Edytuj zucha', team_edit_scout_path(user.id), class: 'btn btn-primary'
            -if user.archived?
              =link_to 'Przywróć zucha do służby', unarchive_path(user), class: 'btn btn-success'
            -else
              =link_to 'Archiwizuj zucha', archive_path(user), class: 'btn btn-danger'