.panel.panel-default
  .panel-heading
    %b Edytuj cykl

= form_for @cycle, url: update_cycle_path(@cycle), method: :patch do |f|
  .form-inputs.form-horizontal
    .form-group.col-sm-12
      = f.label 'Nazwa cyklu', class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_field :name, class: "form-control", required: true
    .form-group.col-sm-12
      = f.label 'Data początku', class: "col-sm-2 control-label"
      .col-sm-6
        = f.date_field :start_date, class: "form-control datepicker", required: true
    .form-group.col-sm-12
      = f.label 'Data końca', class: "col-sm-2 control-label"
      .col-sm-6
        = f.date_field :stop_date, class: "form-control datepicker", required: true
    .form-group.col-sm-6.margin-left-md
      -@badges.keys.each do |color|
        .col-xs-1{class: "bgn-#{color}"}
        %br/
        %ul.list-group
          -@badges[color].each do |badge|
            %li.list-group-item
              = f.label "#{badge[0].name} (zdobywa: #{badge[1]})"
              = f.check_box :badge_ids, { :multiple => true }, badge[0].id, nil
    .form-actions
      .form-group
        .col-sm-2.col-md-offset-3
          = f.submit 'Zapisz'
