= form_for([:admin, @team]) do |f|
  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br
      = f.text_field :name
  .field
    = f.label :history
    %br
      = f.text_area :history
  .field
    = f.label :situation_description
    %br
      = f.text_area :situation_description
  .field
    = f.label 'Drużynowy'
    %br
      = select("team", "user_id", User.all.collect {|u| [ u.full_name, u.id ] })
  .field
    = f.label "Miejsce działania"
    %br
      = f.text_field :base
  .field
    = f.label "Przyboczny 1"
    %br
      = f.text_field :adjutant_1
  .field
    = f.label "Przyboczny 2"
    %br
      = f.text_field :adjutant_2
  .field
    = f.label "Hufiec"
    %br
      = f.text_field :chapter
  .field
    = f.label "Chorągiew"
    %br
      = f.text_field :banner
  .field
    = f.label "Data powołania"
    %br
      = f.text_field :date_of_creation, class: 'datetimepicker'
  .field
    = f.label "Obrzędowość"
    %br
      = f.text_area :ceremonial

  .actions
    = f.submit
