%h1 Gromady
%table#teams_table{cellpadding: "0", cellspacing:"0", border: "0", class: "datatable table table-striped table-bordered"}
  %thead
    %tr
      %th Name
      %th History
      %th Situation description
      %th Miejsce działania
      %th Drużynowy
      %th Przyboczny
      %th Przyboczny
      %th Hufiec
      %th Chorągiew
      %th Data powołania
      %th Obrzędowość
      %th
      %th
      %th
  %tbody
    - @teams.each do |team|
      %tr{id: "j-#{team.id}"}
        %td= team.name
        %td= team.history
        %td= team.situation_description
        %td= team.base
        %td= team.user.full_name
        %td= team.adjutant_1
        %td= team.adjutant_2
        %td= team.chapter
        %td= team.banner
        %td= team.date_of_creation
        %td= team.ceremonial
        %td= link_to 'Show', [:admin, team]
        %td= link_to 'Edit', edit_admin_team_path(team)
        %td= link_to 'Destroy', [:admin, team], method: :delete, data: { confirm: 'Are you sure?' }
%br
