.panel.panel-default
  .panel-heading
    %b Edytuj plan zbiórki

= form_for @plan, url: update_plan_path(@plan) do |f|
  .col-md-6
    .form-inputs.form-vertical
      .drop
        = f.nested_fields_for :plan_points do |ff|
          %li.list-group-item
            .form-group.col-sm-6
              = ff.label 'Nazwa', class: "col-sm-4 control-label"
              .col-sm-8
                = ff.text_field :task_name, class: 'form-control'
            .form-group.col-sm-6
              = ff.label 'Opis', class: "col-sm-4 control-label"
              .col-sm-8
                = ff.text_field :task_info, class: 'form-control'
            .form-group.col-sm-6
              = ff.label 'Czas operacyjny', class: "col-sm-4 control-label"
              .col-sm-8
                = ff.text_field :task_time, class: 'form-control'
            .form-group.col-sm-6
              = ff.label 'Potrzebne materiały', class: "col-sm-4 control-label"
              .col-sm-8
                = ff.text_area :materials_needed, class: 'form-control'
            .form-group.col-sm-6
              = ff.label 'Osoba odpowiedzialna: ', class: "col-sm-4 control-label"
              .col-sm-8
                = ff.text_field :person_responsible, class: 'form-control'
            .form-group.col-sm-6
              = ff.label 'Realizowane punkty: ', class: "col-sm-4 control-label"
              .col-sm-8
            -ff.object.badge_requirements.each do |br|
              .col-sm-6
                =ff.check_box(:badge_requirement_ids, {:multiple => true, checked: true}, br.id, nil)
                ="#{br.description}"
            = ff.remove_nested_fields_link 'Usuń punkt planu'
        = f.add_nested_fields_link :plan_points, 'Dodaj punkt planu', class: 'droppable'
      .form-actions
        .form-group
          .col-sm-2.col-md-offset-3
            = f.submit 'Zapisz'
  .col-md-5
    %h2
      Punkty do zrealizowania w planie
    .col-sm-10
      %ul.list-group
        -@badges.each do |badge|
          %li.list-group-item
            %button.btn{"aria-controls" => "badge#{badge.id}", "aria-expanded" => "false", "data-target" => "#badge#{badge.id}", "data-toggle" => "collapse", :type => "button", class: "bgn-#{badge.color}-color"}
              %b= badge.name
            .collapse{id: "badge#{badge.id}"}
              -badge.badge_requirements.reverse.each do |br|
                =label_tag br, br.description, id: "#{br.id}", class: 'drag'
:javascript
  $(document).ready(function(){
    $('li').droppable({
        drop: function(event, ui) {
          element = [ui.helper.attr('id'), ui.helper.text()];
          var id = $(this).find('.form-control').attr('name')
          id = id.slice(0, id.indexOf("task_name"));

          var checkbox = document.createElement('input');
          checkbox.type = "checkbox";
          checkbox.name = id + 'badge_requirement_ids[]';
          checkbox.value = element[0];
          checkbox.id = id + 'badge_requirement_id_' + element[0];
          checkbox.checked = 'checked'
          var label = document.createElement('label')

          label.htmlFor = element[0];
          label.appendChild(document.createTextNode(element[1]));

          container = $(this).find('.form-group.col-sm-6').last();
          container.after("<div class='form-group col-sm-6'></div>")
          container = $(this).find('.form-group.col-sm-6').last();
          container.append(checkbox);
          container.append(label);

        }
      });
    $(".drag").draggable({
      revert: true
    });
    $(document).on("fields_added.nested_form_fields", function(event, param){
      $('.drop').find('li').last().droppable({
        drop: function(event, ui) {
          element = [ui.helper.attr('id'), ui.helper.text()];
          var id = $(this).find('.form-control').attr('name')
          id = id.slice(0, id.indexOf("task_name"));

          var checkbox = document.createElement('input');
          checkbox.type = "checkbox";
          checkbox.name = id + 'badge_requirement_ids[]';
          checkbox.value = element[0];
          checkbox.id = id + 'badge_requirement_id_' + element[0];
          checkbox.checked = 'checked'
          var label = document.createElement('label')

          label.htmlFor = element[0];
          label.appendChild(document.createTextNode(element[1]));

          container = $(this).find('.form-group.col-sm-6').last();
          container.after("<div class='form-group col-sm-6'></div>")
          container = $(this).find('.form-group.col-sm-6').last();
          container.append(checkbox);
          container.append(label);
        }
      });
    });
  });

