.panel.panel-default
  .panel-heading
    %b Stwórz plan spotkania

= form_for @plan, url: create_plan_path(@meeting) do |f|
  .form-inputs.form-horizontal
    %li.list-group-item
      = f.nested_fields_for :plan_points do |ff|
        .form-group.col-sm-12
          = ff.label 'Nazwa', class: "col-sm-2 control-label"
          .col-sm-6
            = ff.text_field :task_name, class: 'form-control'
        .form-group.col-sm-12
          = ff.label 'Opis', class: "col-sm-2 control-label"
          .col-sm-6
            = ff.text_field :task_info, class: 'form-control'
        .form-group.col-sm-12
          = ff.label 'Czas operacyjny', class: "col-sm-2 control-label"
          .col-sm-6
            = ff.text_field :task_time, class: 'form-control'
        .form-group.col-sm-12
          = ff.label 'Potrzebne materiały', class: "col-sm-2 control-label"
          .col-sm-6
            = ff.text_area :materials_needed, class: 'form-control'
        .form-group.col-sm-12
          = ff.label 'Osoba odpowiedzialna za przygotowanie: ', class: "col-sm-2 control-label"
          .col-sm-6
            = ff.text_field :person_responsible, class: 'form-control'
        = ff.remove_nested_fields_link 'Usuń punkt planu'
    = f.add_nested_fields_link :plan_points, 'Dodaj punkt planu'
    .form-actions
      .form-group
        .col-sm-2.col-md-offset-3
          = f.submit 'Zapisz'
