- if user_signed_in?
  %li= link_to 'Edytuj konto', edit_user_registration_path
  %li= link_to 'Wyloguj się', destroy_user_session_path, :method=>'delete'
  -if current_user.admin?
    %li= link_to 'Panel admina', admin_teams_path
- else
  %li= link_to 'Zaloguj się', new_user_session_path
  %li= link_to 'Zarejestruj się', new_user_registration_path
